- All of these things that we are learning are useless -> If we cant make a product out of it
- Less complex code
- Data management is very important -> It quickens the other part of Data science steps

Data Engineering -> gathering data -> managing it -> Storing it

Data Analysis -> Maths -> Stats -> Predictions

Substantial intelligence -> Domain knowledge

All 3 constitutes Data Science

Pandas loads things into memory. If you huge amount of data which doesn't fit into memory?
Database stores some in memory some in disk

relational => Stores in the form of tables
document oriented => Stores file after file JSON
key-value => Its used when we give a key and want the value 
graph based => Used by FB 

Use the one that fites your need. If you dont know pick Relationsl because it has been worked for such a long time.

Grammer of Data => The verbs we can use with the data 
Add, delete, read, update 
Foundation for every data storeage system. And what extra it can do apart from that.

- Chris Albon.com ==> for small code snippets

### The coding starts

In [2]:
import numpy as np
import pandas as pd
import scipy as sp
import matplotlib.pyplot as plt
import time
import seaborn as sns

- Pandas we dont need to specify the datatypes of the columns. 
- But in SQL it has to be of specific type
- With constraints comes performance

#### Inserting data

In [29]:
createStatement = """

DROP TABLE IF EXISTS candidates;
DROP TABLE IF EXISTS contributors;

CREATE TABLE "candidates" (
"id" INTEGER PRIMARY KEY NOT NULL,
"first_name" VARCHAR,
"last_name" VARCHAR,
"middle_name" VARCHAR,
"party" VARCHAR NOT NULL
);

CREATE TABLE "contributors" (
"id" INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL,
"first_name" VARCHAR,
"last_name" VARCHAR,
"middle_name" VARCHAR,
"street_1" VARCHAR,
"street_2" VARCHAR,
"city" VARCHAR,
"state" VARCHAR,
"zip" VARCHAR,
"amount" INTEGER,
"date" DATETIME,
"candidate_id" INTEGER NOT NULL,
FOREIGN KEY(candidate_id) REFERENCES candidates(id)
);

"""

- dbapi2 is an API in python which helps to commect to any SQL DB and the syntax remains the same

In [5]:
from sqlite3 import dbapi2 as sq3
import os 
PATH_START = "."
def get_db(dbfile):
    sqlite_db = sq3.connect(os.path.join(PATH_START, dbfile))
    return sqlite_db

In [ ]:
- What if the dbfile is not available

In [6]:
def init_db(dbfile, schema):
    db = get_db(dbfile)
    db.cursor().executescript(createStatement)
    db.commit()
    return db

In [9]:
df = pd.read_csv('candidates.txt', sep='|')
df.head()

   id   first_name  last_name middle_name party
0  33       Joseph      Biden         NaN     D
1  36       Samuel  Brownback         NaN     R
2  34      Hillary    Clinton          R.     D
3  39  Christopher       Dodd          J.     D
4  26         John    Edwards         NaN     D

In [10]:
df_cid = pd.read_csv('contributors_with_candidate_id.txt', sep='|')
df_cid.head()

,id,last_name,first_name,middle_name,street_1,street_2,city,state,zip,amount,date,candidate_id
0,NaN,Agee,Steven,NaN,549 Laurel Branch Road,NaN,Floyd,VA,24091,500.0,2007-06-30,16
1,NaN,Ahrens,Don,NaN,4034 Rennellwood Way,NaN,Pleasanton,CA,94566,250.0,2007-05-16,16
2,NaN,Ahrens,Don,NaN,4034 Rennellwood Way,NaN,Pleasanton,CA,94566,50.0,2007-06-18,16
3,NaN,Ahrens,Don,NaN,4034 Rennellwood Way,NaN,Pleasanton,CA,94566,100.0,2007-06-21,16
4,NaN,Akin,Charles,NaN,10187 Sugar Creek Road,NaN,Bentonville,AR,72712,100.0,2007-06-16,16

In [12]:
del df_cid['id']
df_cid.head()

,last_name,first_name,middle_name,street_1,street_2,city,state,zip,amount,date,candidate_id
0,Agee,Steven,NaN,549 Laurel Branch Road,NaN,Floyd,VA,24091,500.0,2007-06-30,16
1,Ahrens,Don,NaN,4034 Rennellwood Way,NaN,Pleasanton,CA,94566,250.0,2007-05-16,16
2,Ahrens,Don,NaN,4034 Rennellwood Way,NaN,Pleasanton,CA,94566,50.0,2007-06-18,16
3,Ahrens,Don,NaN,4034 Rennellwood Way,NaN,Pleasanton,CA,94566,100.0,2007-06-21,16
4,Akin,Charles,NaN,10187 Sugar Creek Road,NaN,Bentonville,AR,72712,100.0,2007-06-16,16

- Explain why DROP was added to schema.

### init

In [30]:
db = init_db('concat.db', createStatement)

### Populating with pandas

In [31]:
df.to_sql('candidates', db, if_exists='append', index=False)
df_cid.to_sql('contributors', db, if_exists='append', index=False)

In [32]:
sel = """
SELECT * FROM candidates;
"""

In [33]:
db.cursor().execute(sel).fetchall()

[(16, 'Mike', 'Huckabee', None, 'R'),
 (20, 'Barack', 'Obama', None, 'D'),
 (22, 'Rudolph', 'Giuliani', None, 'R'),
 (24, 'Mike', 'Gravel', None, 'D'),
 (26, 'John', 'Edwards', None, 'D'),
 (29, 'Bill', 'Richardson', None, 'D'),
 (30, 'Duncan', 'Hunter', None, 'R'),
 (31, 'Dennis', 'Kucinich', None, 'D'),
 (32, 'Ron', 'Paul', None, 'R'),
 (33, 'Joseph', 'Biden', None, 'D'),
 (34, 'Hillary', 'Clinton', 'R.', 'D'),
 (35, 'Mitt', 'Romney', None, 'R'),
 (36, 'Samuel', 'Brownback', None, 'R'),
 (37, 'John', 'McCain', None, 'R'),
 (38, 'Tom', 'Tancredo', None, 'R'),
 (39, 'Christopher', 'Dodd', 'J.', 'D'),
 (41, 'Fred', 'Thompson', 'D.', 'R')]